@import "tailwindcss";

html {
  font-family: "Space Grotesk", monospace;
}

#canvas-2D,
#canvas-3D {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#canvas-3D {
  z-index: 1;
}

#canvas-2D {
  z-index: 2;
  pointer-events: none;
}