html {
  font-family: "Space Grotesk", monospace;
}

#canvas-2D,
#canvas-3D {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#canvas-3D {
  z-index: 1;
}

#canvas-2D {
  z-index: 2;
  pointer-events: none;
}

p {
  padding: 0;
  margin: 0;
}

.metadata {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  gap: 0.5rem;
  mix-blend-mode: difference;
}

.metadata p {
  width: 12rem;
  padding: 0 0.5rem;
  background-color: #eee;
  color: #000;
}